
<%= form_with scope: :user, url: users_path, local: true do |form| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <p>
      <%= form.label :Name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :Age %><br>
      <%= form.text_field :age%>
    </p>
   
    <p>
      <%= form.label :Email %><br>
      <%= form.text_field :email%>
    </p>

    <p>
      <%= form.label :Mobile  %><br>
      <%= form.text_field :mobile %>
    </p>

    <p>
      <%= form.label :Password %><br>
      <%= form.text_field :password %>
    </p>

    <p>
      <%= form.label :DateofBirth %><br>
      <%= form.date_field :dob%>
    </p>

    <p>
      <%= form.label :Date %><br>
      <%= form.date_field :date %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>